@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Space+Mono:ital,wght@0,400;1,700&display=swap');


body{
    margin: 0;
    background-color: #FFFFFF;
}
html, body{
    position: relative;
    width: 1440px;
    height: 1080px;
    background: #FFFFFF;
    box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}


img{
    height: 447px;
    width: 539px;
    left: 77px;
    top: 265px;
    

}


.image{
  
    position: absolute;
    left: 5.35%;
    right: 57.21%;
    top: 24.54%;
    bottom: 34.03%;
 
}

#header{
    color: #333333;
    position: absolute;
    width: 133px;
    height: 25px;
    left: 77px;
    top: 40px;
    font-family: Inconsolata;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 25px;
    letter-spacing: -0.08em;
    text-transform: uppercase;
  
}

.titulo{
    color: #333333;
    position: absolute;
    width: 586px;
    height: 190px;
    left: 735px;
    top: 265px;
    font-family: Space Mono;
    font-size: 64px;
    font-style: normal;
    font-weight: bold;
    line-height: 95px;
    letter-spacing: -0.035em;
    text-align: left;
    
}

p{
    color: #4F4F4F;
    position: absolute;
    width: 381px;
    height: 108px;
    left: 736px;
    top: 491px;
    font-family: Space Mono;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: -0.035em;
    text-align: left;

  
}

#boton{
    
    background-color: #333333; 
    width: 216px;
    height: 68px;
    left: 740px;
    top: 663px;
    



 }
button{
    position: absolute;
    background-color: #333333; 
    color: #FFFFFF;
    font-family: Space Mono;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    transition: all 200ms ease-in-out;
    cursor: pointer;
}
button:focus,button:hover{
    color: #fb5c4c;
    background-color: #FFFFFF;
    

}
 footer{
    position: absolute;
    width: 287px;
    height: 17px;
    left: 577px;
    top: 1039px;
 }

/********************************************************/

 @media (max-width: 375px) {
    
    body{
        margin: 0;
        background-color: #FFFFFF;
    }
    html, body{
        position: relative;
        width: 375px;
        height: 949px;
        
        
        background: #FFFFFF;
        box-shadow: 0px 2px 24px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
    }
    
    img{
        height: 238px;
        width: 286.83px;
        left: 44px;
        top: 109px;
        
    
    }
    
    
    .image{
      
        position: absolute;
        left: 11.73%;
        right: 11.78%;
        top: 11.49%;
        bottom: 63.44%;
     
    }
    
    #header{
        color: #333333;
        position: absolute;
        width: 133px;
        height: 25px;
        left: 24px;
        top: 20px;
        font-family: Inconsolata;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 25px;
        letter-spacing: -0.08em;
        text-transform: uppercase;
      
    }
    
    .titulo{
        color: #333333;
        position: absolute;
        width: 350px;
        height: 142px;
        left: 18px;
        top: 407px;
        font-family: Space Mono;
        font-size: 48px;
        font-style: normal;
        font-weight: bold;
        line-height: 71px;
        letter-spacing: -0.035em;
        text-align: left;
        
    }
    
    p{
        color: #4F4F4F;
        position: absolute;
        width: 328px;
        height: 81px;
        left: 23px;
        top: 579px;
        font-family: Space Mono;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 27px;
        letter-spacing: -0.035em;
        text-align: left;
    
      
    }
    
    #boton{
        
        background-color: #333333; 
        width: 216px;
        height: 68px;
        left: 24px;
        top: 726px;
           
     }
    button{
        position: absolute;
        background-color: #333333; 
        color: #FFFFFF;
        font-family: Space Mono;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        letter-spacing: -0.035em;
        text-transform: uppercase;
        transition: all 200ms ease-in-out;
        cursor: pointer;
    }
    
     footer{
        position: absolute;
        width: 500px;
        height: 14px;
        left: 46px;
        top: 908px;
        text-align: left;
     }
    
  }
